<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/css/style.css"/>
        <title>User</title>
    </head>
    <body>
        <h1>IT Academy</h1>
        <h2>Entrer votre pseudo</h2>
        <h2>Veuillez d'abord vous connecter</h2>
    <form action='/panier/finaliser' method='post'>
        <input type="text"  name="username" >
        <input type="submit"  value="Enregistrer">
    </form>


    
    </body>
</html>